.App-Grid {
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 50, 0.75);
}

.approveBtn {
  margin-top: 0.5em;
}

.categorySelect {
  margin-bottom: 0.5em;
}

.slider {
  margin-top: 10pt;
}

.splitLabel {
  display: flex;
  justify-content: space-between;
}

.splitInput {
  width: 80pt;
}
.splitInput .right {
  margin-right: 18pt;
}